<a href="https://colab.research.google.com/github/harini003/RINEX_FINAL_PROJECT/blob/main/Major_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
#Milk quality analysis

In [128]:
#creating dataset
import pandas as pd
df= pd.read_csv('/content/milkquality.csv')
df

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
3     9.5          34      1     1     0          1     255     low
4     6.6          37      0     0     0          0     255  medium
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[1059 rows x 8 columns]

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pH          1059 non-null   float64
 1   Temprature  1059 non-null   int64
 2   Taste       1059 non-null   int64
 3   Odor        1059 non-null   int64
 4   Fat         1059 non-null   int64
 5   Turbidity   1059 non-null   int64
 6   Colour      1059 non-null   int64
 7   Grade       1059 non-null   object
dtypes: float64(1), int64(6), object(1)
memory usage: 66.3+ KB

In [139]:
#seperating values into input and output values
x= df.iloc[:300, 0:7].values
y= df.iloc[:300, 7].values

In [140]:
#training and testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, random_state=0)

In [141]:
#normalising input values
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
x_train=scaler.fit_transform(x_train)
x_test= scaler.fit_transform(x_test)

In [142]:
#fitting the model
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [143]:
#predicting using test data
y_pred= model.predict(x_test)
y_pred

array(['low', 'low', 'low', 'high', 'medium', 'medium', 'low', 'low',
       'low', 'medium', 'low', 'medium', 'low', 'low', 'high', 'high',
       'medium', 'low', 'high', 'medium', 'low', 'high', 'medium',
       'medium', 'medium', 'medium', 'low', 'medium', 'medium', 'high',
       'medium', 'high', 'low', 'medium', 'low', 'low', 'low', 'high',
       'high', 'high', 'medium', 'high', 'medium', 'high', 'high', 'low',
       'medium', 'low', 'low', 'medium', 'medium', 'low', 'medium', 'low',
       'medium', 'low', 'low', 'medium', 'low', 'medium', 'medium',
       'high', 'low', 'medium', 'low', 'low', 'medium', 'low', 'high',
       'medium', 'low', 'medium', 'high', 'medium', 'high'], dtype=object)

In [144]:
#actual output data
y_test

array(['low', 'low', 'low', 'high', 'medium', 'medium', 'high', 'low',
       'low', 'medium', 'low', 'medium', 'low', 'low', 'low', 'low',
       'low', 'low', 'low', 'medium', 'low', 'medium', 'low', 'medium',
       'medium', 'high', 'low', 'medium', 'medium', 'high', 'low', 'high',
       'low', 'medium', 'low', 'low', 'medium', 'high', 'high', 'high',
       'low', 'high', 'high', 'low', 'medium', 'low', 'high', 'low',
       'low', 'medium', 'medium', 'low', 'low', 'low', 'medium', 'low',
       'low', 'low', 'low', 'medium', 'low', 'high', 'low', 'medium',
       'low', 'low', 'high', 'high', 'high', 'medium', 'low', 'medium',
       'high', 'medium', 'low'], dtype=object)

In [145]:
#checking accuracy of model
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)*100

72.0

In [146]:
#individual prediction
model.predict([[6.6,	37,	0,	0,	0,	0,	255	]])

array(['low'], dtype=object)

In [138]:
import joblib
joblib.dump(model, 'milk_quality')

['milk_quality']

In [105]:
!pip install streamlit --quiet

In [122]:
%%writefile project.py
import streamlit as st
import joblib
model= joblib.load('milk_quality')
st.title('MILK QUALITY ANALYSIS')
ph= st.number_input('Enter pH')
temp= st.number_input('Enter temperature')
taste= st.number_input('Enter taste code')
od= st.number_input('Enter odour code')
fat= st.number_input('Enter fat level')
turb= st.number_input('Enter turbidity')
clr= st.number_input('Enter colour code')
op= model.predict([[ph,temp,taste,od,fat,turb,clr]])
if st.button('Grade'):
  st.title(op[0])

Overwriting project.py

In [123]:
!streamlit run project.py & npx localtunnel --port 8501

2022-08-14 17:39:32.531 INFO    numexpr.utils: NumExpr defaulting to 2 threads.
npx: installed 22 in 2.56s
your url is: https://good-windows-yell-34-125-219-253.loca.lt

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://34.125.219.253:8501

  Stopping...
^C

In [98]:
#End of notebook